POSTGRES_USER=jukebox
POSTGRES_PASSWORD=jukebox
POSTGRES_DB=jukebox

# ホストから直接DBへ接続する必要がある場合だけ上書きする（Prisma Studioなど）
# docker-compose.ymlの `ports` もコメント解除する必要あり
# DATABASE_URL=postgresql://jukebox:jukebox@localhost:5433/jukebox?schema=public

NEXT_PUBLIC_APP_URL=http://localhost:3000
